# Ambiente y desarrollo de cuadernos
.ipynb_checkpoints
.RData
.Rhistory

# Versiones alpha
**/*AA*.Rmd
**/*AA*.html
**/*MM*.Rmd
**/*MM*.html

# Archivos de sincronización con R-Pubs
/rsconnect

# Archivos varios
06_mutate_pipes_regex/pipes.drawio.svg
