# Ambiente y desarrollo de cuadernos
*.ipynb_checkpoints
*.RData
*.Rhistory

# Versiones alpha
/aa_ignorar
**/*AA*.Rmd
**/*AA*.html
/mm_ignorar
**/*MM*.Rmd
**/*MM*.html

# Archivos de sincronización con R-Pubs
**/rsconnect
*.dcf

# Archivos varios
06_mutate_pipes_regex/pipes.drawio.svg