# Ambiente y desarrollo de cuadernos
*.ipynb_checkpoints
*.RData
*.Rhistory
**/tmp

# Versiones alpha
**/ignorar
**/*AA*.Rmd
**/*AA*.html
**/*MM*.Rmd
**/*MM*.html

# Archivos de sincronización con R-Pubs
**/rsconnect
*.dcf

# Archivos de datos absurdamente pesados
#**/*.gz
#**/*.tar

# Archivos varios
06_mutate_pipes_regex/pipes.drawio.svg
**/GSE**
.Rproj.user

# La carpeta de bookdown
_bookdown_files/**
clases.Rmd

# Cosas inutiles que probablemente son errores mios/de bookdown
#*.csv*
#*.tsv*
#*.tar*
#*.xslx*
#*.xlsx*
#*.RDS*
#*.html*
#*.pkl*
